.journal-page-content {
  // Improve core formatting of journal tables

  table {
    th {
      padding: 0.2rem 0.5rem;
    }

    // Add header coloring to heades in body as well, mimic Foundry coloring here
    tbody th {
      background: rgba(0, 0, 0, 0.5);
      color: var(--color-text-light-highlight);
      text-shadow: 1px 1px var(--color-shadow-dark);
    }

    td {
      padding: 0.2rem 0.3rem;
    }
  }

  .pf1.center-second-column {
    :is(td, th) {
      text-align: left;
      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}
