.application.pf1-v2.health-config {
  .hitdice-table {
    margin: 0;

    th {
      font-size: var(--font-size-14);
    }

    td {
      padding: 0.5rem;
    }

    :is(td, th) {
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }

    .switch-check,
    .switch-check:not(:checked) + .switch-label .switch-auto,
    .switch-check:checked + .switch-label .switch-manual {
      display: none;
    }

    .switch {
      text-align: center;
      padding: 0.25rem;
      white-space: nowrap;

      .button {
        display: block;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
