<div class="form-group weapon-groups">
  <label>{{localize "PF1.WeaponGroups"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each weaponGroups.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-title="PF1.WeaponGroups" data-for="system.weaponGroups" data-options="weaponGroups"><i class="fas fa-edit" inert></i></a>
  </div>
</div>
