{{!-- Tags --}}
<div class="flexcol">
    <div class="tags">
        <h3 class="form-header">
            <a class="help-browser" data-url="Help/Items/Flags"><i class="fas fa-info-circle" inert></i></a>
            {{localize "PF1.Flags"}}
        </h3>

        {{!-- Boolean Flags --}}
        <div class="form-group">
            <div class="form-fields boolean-flags">
                <div class="data-selector">
                    <a class="entry-selector" data-for="system.flags.boolean" data-flag="true" data-boolean="true" data-fields="PF1.Name" data-dtypes="String" data-title="PF1.FlagsBoolean"><i class="fas fa-edit" inert></i></a>
                    <label>{{localize "PF1.FlagsBoolean"}}</label>
                </div>

                <div class="tag-list flexrow">
                    {{#each flags.boolean as |value key|}}
                    <span class="tag" data-tootip="">{{key}}</span>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Dictionary Flags --}}
        <div class="form-group">
            <div class="form-fields dictionary-flags">
                <div class="data-selector">
                    <a class="entry-selector" data-for="system.flags.dictionary" data-flag="true" data-fields="PF1.Name;PF1.Value" data-dtypes="String;String" data-title="PF1.FlagsDictionary"><i class="fas fa-edit" inert></i></a>
                    <label>{{localize "PF1.FlagsDictionary"}}</label>
                </div>
            </div>

            {{#if flags.dictionary}}
            <table>
                <thead>
                    <tr>
                        <th>{{localize "PF1.Name"}}</th>
                        <th>{{localize "PF1.Value"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flags.dictionary as |value key|}}
                    <tr data-tooltip="@dFlags.{{@root.system.tag}}.{{key}}">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
    </div>

    {{!-- Script Calls --}}
    {{#if scriptCalls}}
    <div class="script-calls">
        <h3 class="form-header">
            <a class="help-browser" data-url="Help/Items/Script-Calls"><i class="fas fa-info-circle" inert></i></a>
            {{localize "PF1.ScriptCalls.Name"}}
        </h3>

        {{#each scriptCalls}}
        <ol class="item-list" {{#each dataset as |value|}}data-{{@key}}="{{value}}"{{/each}}>
            <li class="item-list-header flexrow">
                <div class="item-name">
                    {{#if tooltip}}
                    <i class="fas fa-info fa-fw item-info" data-tooltip="{{tooltip}}"></i>
                    {{/if}}
                    <h3>{{name}}</h3>
                </div>

                {{#if @root.isGM}}
                <div class="item-detail item-hidden">
                    <i class="fas fa-eye-slash" data-tooltip="PF1.Hidden"></i>
                </div>
                {{/if}}

                <div class="item-controls">
                  {{#if @root.owner}}
                  <a class="item-control item-create" data-tooltip="PF1.ScriptCalls.Create">
                      <i class="fas fa-plus" inert></i>
                  </a>
                  {{/if}}
                </div>
            </li>

            <ol class="item-list">
                {{#each items}}
                <li class="item flexrow" data-item-id="{{id}}">
                    <div class="item-name">
                        <div class="item-image no-hover" style='background-image: url("{{img}}")'></div>
                        <h4>{{name}}</h4>
                    </div>

                    {{#if @root.isGM}}
                    <div class="item-detail item-hidden">
                        <a class="item-control item-hide">
                        <span class='hidden-icon'>
                          <i class="fas {{#if hidden}}fa-check is-visible{{else}}fa-times is-hidden{{/if}} fa-fw" inert></i>
                        </span>
                        </a>
                    </div>
                    {{/if}}

                    <div class="item-controls">
                        <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit" inert></i></a>
                        {{#if @root.owner}}
                        <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash" inert></i></a>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ol>
        </ol>
        {{/each}}
    </div>
    {{/if}}
</div>
